/* -------------------------------------------------------------------------- */


html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; /* [1] */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Verdana';
  /* background-image: url('../images/space_background.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center; */
  background: url('../images/space2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* -------------------------------------------------------------------------- */
/* -----------------------------    CONTAINERS    --------------------------- */
/* -------------------------------------------------------------------------- */

#container{
  width: 932px;
  height: 588px;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container_A{
  width: 932px;
  height: 100px;
  background-color: #1D2635;
  padding: 16px;
  font-size: 18pt;
  text-align: center;
  line-height: 70px;
  opacity: 0.7;
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

#space_horizontal{
  width: 932px;
  height: 13px;
}

#space_vertical{
  display: inline-block;
  width: 13px;
  height: 410px;
}

#container_B1{
  display: inline-block;
  width: 246px;
  height: 410px;
  background-color: black;
  opacity: 0.7;
  font-size: 12pt;
  position: relative;

}

#container_B3{
  display: inline-block;
  width: 246px;
  height: 410px;
  background-color: black;
  font-size: 12pt;
  position: relative;
  opacity: 0.7;
}

#container_B2{
  display: inline-block;
  width: 413px;
  height: 410px;
  background-color: black;
  color: black;
  font-size: 12pt;
  position: relative;
}


#container_C{
  width: 932px;
  height: 50px;
  font-size: 12pt;
  text-align: center;
  opacity: 0.7;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------    HEADERS    ----------------------------- */
/* -------------------------------------------------------------------------- */


#header_B13{
  display: inline-block;
  width: 246px;
  height: 50px;
  background-color: #2A3C50;
  font-size: 15pt;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 50px;

}

#header_B2{
  display: inline-block;
  width: 413px;
  height: 50px;
  background-color: #55769F;
  font-size: 15pt;
  color: white;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 50px;
  opacity: 0.9;
}

#subhead_B2_bids{
  display: inline-block;
  width: 206px;
  height: 25px;
  background-color: #005901;
  font-size: 12pt;
  color: white;
  text-align: left;
  position: absolute;
  top: 50px;
  left: 0px;
  line-height: 25px;
  padding-left: 5px;
}

#subhead_B2_ask{
  display: inline-block;
  width: 206px;
  height: 25px;
  background-color: #5b0500;
  font-size: 12pt;
  color: white;
  text-align: right;
  position: absolute;
  top: 50px;
  left: 207px;
  line-height: 25px;
  padding-right: 5px;
}

#subhead_B2_highlight{
  display: inline-block;
  width: 1px;
  height: 25px;
  background-color: #FFC000;
  font-size: 12pt;
  color: white;
  position: absolute;
  top: 50px;
  left: 206px;
  opacity: 0.5;
}

#subhead_B2_hl_under{
  display: inline-block;
  width: 413px;
  height: 25px;
  font-size: 12pt;
  color: white;
  position: absolute;
  top: 75px;
  text-align: center;
  opacity: 0.5;
}

#plotbox_B2{
  display: inline-block;
  width: 413px;
  height: 400px;
  position: absolute;
  top: 35px;
  left: 0px;
}




/* -------------------------------------------------------------------------- */
/* --------------------------------    EXTRA    ----------------------------- */
/* -------------------------------------------------------------------------- */



table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12pt;
    margin-top: 60px;
}

th, td {
    padding: 3px;
    text-align: left;
    border-bottom: 1px solid #1D2635;
}

tr:hover {background-color:#1D2635;}
