#container_B1
  #header_B13
    p Bittrex
  table
    tr
      th Rate
      th Volume
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
