doctype html

head
  link(rel='stylesheet' type='text/css' href='css/style.css')
  script(src='https://cdn.plot.ly/plotly-latest.min.js')

#container

  block row_top

  block col_one

  block col_two

  block col_three

  block row_bot

  block the_plot
