doctype html

head
  link(rel='stylesheet' type='text/css' href='css/style.css')
  script(src='https://cdn.plot.ly/plotly-latest.min.js')

#container

  #container_A
    p Combined Order Book for the BTC_ETH Market by Ted Thayer
  #space_horizontal

  includes col_one

  #space_vertical
  #container_B2
    #header_B2
      p Volume Plots
    #subhead_B2_bids
    #subhead_B2_highlight
    #subhead_B2_ask
    #plotbox_B2
  #space_vertical

  includes col_three

  #space_horizontal
  #container_C
    p
      | &quot;I&apos;ve been working on a new electronic cash system that&apos;s fully peer-to-peer, with no trusted third party&quot; - Szabo, 2008

  includes the_plot
