extends layout.pug


block col_one
  #container_B1
    #header_B13
      p Bittrex
    table
      tr
        th Rate
        th Volume
      tr
        td ...
        td ...
      tr
        td ...
        td ...
      tr
        td ...
        td ...
      tr
        td ...
        td ...
      tr
        td ...
        td ...
      tr
        td ...
        td ...
      tr
        td ...
        td ...
      tr
        td ...
        td ...
      tr
        td ...
        td ...
      tr
        td ...
        td ...
      tr
        td ...
        td ...
      tr
        td ...
        td ...


block col_three
  #container_B3
  #header_B13
    p Poloniex
  table
    tr
      th Rate
      th Volume
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
    tr
      td ...
      td ...
